// Global style variables

	$theme__accent_color: 				#498BFE	;
	$theme__contrast_color: 			#fff	;
	$theme__inline_component_height: 	28px 	;		//	Height of components that should align nicely when together in layout - button, inputs, etc.
	$theme__inline_component_height_rem:2.8rem 	;		//	Height of components that should align nicely when together in layout - button, inputs, etc.
	$theme__default_border_color:		#ddd	;
	$theme__secondary_border_color:		#777	;		//	On button, table header
	$theme__default_text_color:			#222	;
	$theme__grayed_text_color:			#888	;
	$theme__lighter_text_color:			#555	;
	$theme__default_background_color:	#fff	;
	$theme__secondary_background_color:	#fafafa	;